/* index.css */

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a global font */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Global link styles */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}