.container {
    display: flex;
    flex-direction: column;
}

#header {
    border-radius: 10px;
}

.row {
    display: flex;
}

#navbar {
    flex: 0.25;
    padding: 20px;
    margin: 2px;
    border-radius: 10px;
    background-color: lightcoral;
}

.a {
    display: flex;
    flex-direction: column;
    list-style-type: square;
    line-height: 3;
    justify-content: space-between;
    color: black;
    font-size: larger;
}

#content {
    flex: 0.45;
    padding: 20px;
    margin: 2px;
    border-radius: 10px;
    background-color: darksalmon;
    font-size: larger;
}

#sidebar2 {
    flex: 0.3;
    padding: 20px;
    margin: 2px;
    border-radius: 10px;
    background-color: rgb(4, 4, 4);
    position: relative;
    /* Add this property */
}

#sidebar2 div {
    position: relative;
    width: 100%;
    height: 100%;
    /* Set the height to 100% */
    border-radius: 10px;
    overflow: hidden;
}

#sidebar2 iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
    margin: 0;
}
#footer {
    display: flex;
    background-color: indianred;
    border-radius: 10px;
    padding: 1 px;
    /* Optionally, you can add more styling as needed */
}

.b {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 15px;
    list-style-type: none;
    
}

.b li {
    color: black;
    margin-right: 67px;
    font-size:larger
}

/* Add media queries for different screen sizes */
@media screen and (max-width: 739px) {

    #navbar,
    #content,
    #sidebar2 {
        flex: 1;
        /* Full width for small screens */
    }
}

@media screen and (min-width: 740px) and (max-width: 1099px) {
    #navbar {
        flex: 0.33;
        /* 33% width for medium screens */
    }

    #content {
        flex: 0.67;
        /* 67% width for medium screens */
    }
}

/* Add more media queries for larger screens if needed */