#header {
    display: flex;
    align-items: center;
    
}

.span {
    display: inline;
}


.name {
    
    color:black
}

.messages {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px 0px;
    padding: 20px;
}

.dark-theme {
    color:rgb(86, 38, 5);
    background-color:teal;  
}

.theme-one {
    color: rgb(86, 38, 5);
    background-color: #008080;
}

.theme-two {
    color: black;
    background-color:crimson;
}


#main {
    margin: 30px;
    border: 1px solid black;
    padding: 10px;
}

.message {
    padding: 5px;
    color: black;
}

.right {
    align-self: flex-end;
    background-color:aquamarine;
}

.left {
    align-self: flex-start;
    background-color:cyan;
}
