/* src/index.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

nav.light, main.light, footer.light {
  background-color: white;
  color: black;
}

nav.dark, main.dark, footer.dark {
  background-color: black;
  color: white;
}

nav, main, footer {
  padding: 20px;
  text-align: center;
}
